*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --main-font:sans-serif;
  --font-size:16px;
  --main-color:#C3D730;
  --main-second-color: #0b4a75;
  --main-modal-color:#C3D730;
  --second-modal-color:rgba(10, 9, 9, 0.85);
  --container-widht:1200px;
}
body{
  margin: 0;
  overflow-x:hidden ;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #0b4a75;
  border-radius: 100px;
}
body::-webkit-scrollbar-button{
  background-color: #C3D730;
}
body::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
.nav{
  display: flex;
  flex-wrap: wrap;
}

.panel-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.panel{
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 20%; 
  background-color: var(--second-modal-color);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  overflow-y: auto;
  transform: translate(-100%,0)
}
.panel.is-active{
  transform: translatex(0);
  opacity: 1;
}
.menu{
  width: inherit;
  display: flex;
  margin-top: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menu a{
  padding: 1.4rem;
  width: inherit;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-color);
  border-radius: 50px;
  transition: all 0.3s ease;
}
.menu a:hover{
  background-color: var(--main-modal-color );
  color: var(--second-color);
  font-weight: bold;
}
.scroll-top-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  border: 0;
  margin-bottom: 1%;
  transition: all 0.3s ease-out;
}
.scroll-top-btn:hover{
  background-color: var(--main-second-color);
  color: var(--main-color);
}
.hidden{
  visibility: hidden;
  opacity: 0;
}
.contenedor-nav{
  text-align: center;
  background-color: #0b4a75;
  color: #fff;
  padding: 2vh 0;
  position: fixed;
  z-index: 9999;
  }
  .selector{
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .selector:last-child {
    margin-right: 0;
  }
  
  .selector a {
    text-decoration: none;
    color: #fff;
    padding: 5% 6%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .selector a:hover {
    background-color: #11537fb2;
    border-radius: 150px;
    color: #C3D730;
    font-size: 1.2rem;
    font-weight: bold;
    
  }
  .titulo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titulo h1 {
    font-size: 28px;
  }
  
  @media (max-width: 768px) {
    .titulo h1 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 576px) {
    .titulo h1 {
      font-size: 20px;
    }
  }

  .carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;


}
.boton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.boton button {
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, rgb(195, 215, 48), #11537fb2, #11537fb2, rgb(195, 215, 48));
  color: rgb(255, 255, 255);
  border: none;
  padding: 2%;
  cursor: pointer;
  background-size: 300% 100%;
  font-weight: 400;
}

button:hover {
  color: #fff;
  transition: background-position 2s;
  background-position: 100% 0;
  font-weight: 900;
}
button a{
  text-decoration: none;
  color: #fff;
}

.mas{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
.mas button{
  background-color: #C3D730;
  border-color: #0b4a75;


}

.photo{
  display: flex;
  justify-content: center;
}
.photo2{
  display: flex;
  justify-content: center;
}
.photo img{
  border-radius: 15px;
  width:60%
}

.primer{
  background-color: #0B4A75;
  background-color: #0B4B75;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%230c5584' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%230e5e93' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230f68a1' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231171b0' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23127BBF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231171b0' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230f68a1' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%230e5e93' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%230c5584' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%230B4B75' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0b4b75; 
  padding-bottom: 3%;
  /* background-image: url(/img/img2.jpg); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
}
.color{
  color: white;
  
}
.resalte{
  /* border: 3px solid black; */
  padding-top: 3%;
  box-shadow:10px -5px 13px 4px #c6d4ded4;
  background-color: #0b4a75;
  color: white;
}
.resalteb{
  /* border: 3px solid black; */
  padding-top: 3%;
  padding-bottom: 1.1%;
  box-shadow:10px -5px 13px 4px #c6d4ded4;
  background-color: #0b4a75;
  color: white;
  padding-right: 1.2%;
}
.tit{
  text-align: center;
  padding-top: 4%;
  text-shadow:2px 3px 2px #0b4b75;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  padding-bottom: 3%;
  transition-duration: 1s;
}
.tit2{
  text-align: center;
  padding-top: 2%;
  text-shadow:2px 3px 2px #0b4b75;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  padding-bottom: 3%;
  transition-duration: 2s;
}
.tit:hover{
  font-size: 3.2rem;
  text-shadow:-2px -2px 2px #C3D730;
  color: #000000;
}
.sub{
  font-weight: 800;
}
.imgLab{
  display: flex;
  align-items: center;    
} 
.animation {
  height: 400px;
  width: 100%;
  top: 60px;
  display: flex;
  
}
.todo{
  padding-left: 1%;
}

.picture {
  display: flex;
  height: 370px;
  width: 550px;
  background-color: #0b4a75;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  cursor:grab;
}

.picture:not(:first-child) {
    margin-left: -40px;
}

.picture:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.picture:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 88%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.picture:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 120px;
  padding-left: 2%;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.picture:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
@media (max-width: 1040px) {
    #sds{
        flex-direction: column;
        background-color: #c3d730;
    }
    .vvv{
        margin-top: 268px;
    }
    .iconos {
    display: flex;
    justify-content: end;
    padding-right: 4%;
    gap: 1em;
    padding-top: 5px;
}
}
/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.video-container {
  position: relative;
  width: 80%; 
  height: 0;
  padding-bottom: 56.25%; 
}
.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  padding-top: 20%;
  padding-bottom: -14%;

  margin-left: 18%;
  margin-top: -7%;
}
.close {
  position: absolute;
  top: 123px;
  right: 31px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
